<div class="above_the_fold">
  <div>
    <app-header id="header"></app-header>
  </div>
  <div>
    <img
      class="blue_circle"
      src="./../../../assets/img/bg/blue_circle.png"
      alt="blue_circle"
    />
    <div class="social">
      <div class="blue_perpendicular">
        <h3>SCROLL</h3>
        <img
          src="./../../../assets/img/bg/blue_perpendicular.png"
          alt="blue_perpendicular"
        />
      </div>
      <div class="social_media">
        <a href="https://github.com/ahmetuysal1" target="_blank"
          ><img src="./../../../assets/img/social-media/git.png" alt="git_icon"
        /></a>
        <a href="mailto:ahmet-uysal@outlook.de" target="_blank"
          ><img
            src="./../../../assets/img/social-media/email.png"
            alt="email_icon"
        /></a>
        <a
          href="https://www.linkedin.com/in/ahmet-uysal-02b003309/"
          target="_blank"
          ><img
            src="./../../../assets/img/social-media/linkedin.png"
            alt="linkedin_icon"
        /></a>
      </div>
    </div>
    <div class="profile_left">
      <img
        class="profile_img"
        src="./../../../assets/img/photos/profile_1.png"
        alt="profile_image"
      />
    </div>
    <div class="right_side">
      <div class="profile_right">
        <h2>{{ "aft.name" | translate }}</h2>
        <h1 class="frontend">{{ "aft.frontend" | translate }}</h1>
        <h1 class="developer">{{ "aft.developer" | translate }}</h1>
      </div>
    </div>
  </div>
</div>
