<section>
    <div>
        <img src="./../../../assets/img/logo.png" alt="logo">
      <div>
        <h2>Impressum</h2>
        <p>Ahmet Uysal</p>
        <p>Oststraße 44</p>
        <p>59427 Unna</p>
      </div>
  
      <div>
        <h2>Kontakt</h2>
        <p>Telefon: 017631647647</p>
        <p>E-Mail: ahmet-uysal&#64;outlook.de</p>
      </div>
  
      <div>
        <h3>Quellen</h3>
        <p>
          Impressum & Datenschutz:
          <a href="https://www.e-recht24.de/">eRecht24</a>
        </p>
      </div>
      <a [routerLink]="['/']">zurück</a>
    </div>
  </section>
