.about_me {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.position_circle {
    position: absolute;
    left: 32%;
    bottom: -8%;
    z-index: 5;
}

.blue_circle {
    width: 200px;
}

.position_small_circle {
    position: absolute;
    left: 62%;
    top: 107%;
}

.small_blue_circle {
    width: 80px;
}

.let_work {
    font-family: 'Baloo 2';
    font-weight: 700;
    font-size: 80px;
    line-height: 121px;
    letter-spacing: 1px;
    color: #5988FF;
    text-align: center;
}

.about_me_center {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    gap: 50px;
}

h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
}

button {
    cursor: pointer;
    box-shadow: 5px 5px 15px 0px #00000026;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 23px;
    line-height: 27.6px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #5988FF;
    color: #5988FF;
    padding: 15px 30px 15px 30px;

    &:hover {
            transform: scale(1.1);
            animation: gradient-animation 0.05s ease-in-out forwards;
    }
}

@media (min-width: 2000px) and ( max-width: 5440px) {
.position_circle {
    position: absolute;
    left: 42%;
    bottom: -3%;
    z-index: 5;
}

.blue_circle {
    width: 200px;
}

.position_small_circle {
    position: absolute;
    left: 54%;
    top: 102%;
}

.small_blue_circle {
    width: 80px;
}
}

@media (max-width: 1200px) {
    .about_me {
        flex-direction: column;
    }
}

@media (max-width: 1070px) {
    .small_blue_circle {
        width: 60px;
    }

    .blue_circle {
        width: 150px;
    }
}

@media (max-width: 920px) {
    .let_work {
        font-size: 60px;
        line-height: 60px;
    }

    .position_small_circle {
        left: 75%;
    }

    .about_me_center {
        flex-direction: column;
    }

    h3 {
        font-size: 16px;
        text-align: center;
    }

    .about_right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 430px) {
    .position_circle {
        bottom: -5%;
    }
    .blue_circle {
        width: 100px;
    }
}

@media (max-width: 380px) {
    .let_work {
        font-size: 50px;
        line-height: 40px;
    }

    button {
        padding: 10px 20px 10px 20px;
    }
}