<footer>
    <div class="display_flex">
        <a href="#header"><img src="./../../../assets/img/logo_header.svg" alt="logo"></a>
        <div>
            <h2><img class="copyright" src="./../../../assets/img/footer/copyright.svg" alt="copyright_icon">Ahmet Uysal 2024</h2>
        </div>
        <div class="social_media">
            <a href="https://github.com/ahmetuysal1" target="_blank"><img src="./../../../assets/img/footer/git_white_icon.png" alt="git_icon"></a>
            <a href="mailto:ahmet-uysal@outlook.de" target="_blank"><img src="./../../../assets/img/footer/email_white_icon.png" alt="mail_icon"></a>
            <a href="https://www.linkedin.com/in/ahmet-uysal-02b003309/" target="_blank"><img src="./../../../assets/img/footer/link_white_icon.png" alt="linkedin_icon"></a>
        </div>
    </div>
    <a [routerLink]="['/imprint']">Impressum</a>
</footer>
