<section>
    <div class="portfolio_header">
        <h1>{{'myWork.myWork' | translate}}</h1>
        <h2>{{'myWork.explore' | translate}}</h2>
    </div>
    @for (project of projects; track $index) {
        <div class="project" [ngClass]="{'rowReverse': project.isRowReverse}">
            <img class="project_img" src="{{ project.img }}" alt="project_image" />
            <div class="project_info">
                <h3>{{ project.name }}</h3>
                <h4>{{ project.title }}</h4>
                <span>{{ project.description | translate }}<br>{{ project.description1 | translate }}</span>
                <div class="buttons">
                    <a href="{{ project.projectLink }}" target="_blank"><button class="live_test">Live Test</button></a>
                    <a href="{{ project.projectGit }}" target="_blank"><button>GitHub</button></a>
                </div>
            </div>
        </div>
    }
<div class="container">
    <div class="blue_circle_position">
        <img class="blue_circle" src="./../../../assets/img/bg/blue_circle.png" alt="blue_circle">
    </div>
</div>

<div class="container_2">
    <div class="blue_circle_el">
        <img class="blue_circle_2" src="./../../../assets/img/bg/blue_circle.png" alt="blue_circle">
    </div>
</div>

<div class="container_3">
    <div class="blue_circle_pokedex">
        <img class="blue_circle_3" src="./../../../assets/img/bg/blue_circle.png" alt="blue_circle">
    </div>
</div>  
</section>
